.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: grab;
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .circular-gallery {
    /* allow a bit of breathing room under images on small screens */
    padding-bottom: 8vw;
  }
}
